h1 {
    background-color: blue;
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
    padding-top: 20px;
}
p {
    text-align: center;
    border: 2px solid blue;
    margin: 20px;
    font-size: 20px;
    
 }

img {
    display: block;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 127px;
}
span {
    text-decoration: underline;
}

ol{
    list-style-type: decimal;
    text-align: center;
    /* border: 2px solid blue; */
    margin: 20px;
    font-size: 20px;
}
footer {
    margin: 20px;
}